#time {
    background-color: #FFC5C5;
}

.game-container-canvas {
    border-color: #FFC5C5;
}

.piece-image {
    stroke: none;
}

.game-container-settings-difficulty {
    display: inline-flex;
    display: -moz-inline-box;
    transition: letter-spacing 1s;
}

.sounds-button {
    vertical-align: middle;
}

@media only screen and (max-width: 400px) {
    .game-container-settings {
       justify-content: space-between;
    }
}
