.item {
    position: relative;
    display: inline-block;
}

.item:hover > .navigation-bar-inner-row {
    display: block;
}

.item:hover #menu {
    border-color: red;
}

.navigation-bar-inner-row {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    z-index: 1;
    width: 88px;
    border-bottom: 3px solid rgba(30, 30, 30, 0.1);
    text-align: center;
    transform: translatex(-50%);
    left: 50%;
}

.navigation-bar-inner-row .item {
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-top: 10px;
}

.navigation-bar-inner-row .item-link {
    transition: transform 0.2s ease-in;
    border-radius: 5px;
}

.navigation-bar-inner-row .item-link:hover {
    width: 100%;
    height: 100%;
}

.item-link-home {

}

.item-link-home:hover {

}

.navigation-bar-inner-row > .item-root {

}

.item-child-right {
    left: 6%;
    transform: translateX(50%);
    top: -80%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
