.game-container {
    display: flex;
    display: -moz-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.game-container-info {
    border-radius: 15px;
    padding: 20px;
    width: -moz-fit-content; /* Firefox*/
    width: fit-content; /* Chrome */
    text-align: left;
    margin-top: -50px;
    margin-bottom: 10px;
}

.game-container-info-title {
    font-weight: bold;
    margin: 0;
    font-size: xx-large;
}

.game-container-info-name {
    font-weight: normal;
    font-size: medium;
    margin: 10px 0 0 0;
}

.game-container-settings {
    margin-bottom: 10px;
    margin-left: auto;
}

.game-container-settings-button {
    transition: letter-spacing 0.1s;
}

.game-container-settings-button:hover {
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

.game-container-settings-button:active {
}

#time {
    background-color: whitesmoke;
    border-radius: 30px;
    font-weight: bolder;
    padding: 3px 10px 3px 10px;
}

.game-container-canvas {
    border: 3px solid black;
    border-radius: 15px;
    max-width: 100%;
}

.game-container-canvas-image {
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    height: auto;
}

.navigation-bar {
    position: absolute;
    left: 50%;
    z-index: 5;
}

html {
    position: relative;
}

body {
    position: static !important;
}

.breadcrumbs-container {
    top: 90px !important;
    left: 10.8% !important;
}
